{% extends 'layout.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<main class="staff-container">
   <style>
      .staff-container {
         display: flex;
         justify-content: center;
         padding: 3em 0;
      }
      
      .staff-card {
         background-color: rgba(0, 0, 0, 0.6);  /* sondaki opaklık değeri */
         color: #fff;
         padding: 2.5em;
         border-radius: 10px;
         width: 50%;
         box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
         text-align: left;
         transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      }

      .staff-card:hover {
         -webkit-transform: translateY(-5px);
         -ms-transform: translateY(-5px);
         transform: translateY(-5px);
         box-shadow: 0 6px 20px rgba(0, 0, 0, 0.7);
      }
      
      .staff-info {
         margin-bottom: 2em;
      }
      
      .staff-card img {
         border-radius: 50%;
         width: 120px;
         height: 120px;
         object-fit: cover;
         margin-bottom: 1.5em;
         border: 3px solid #444;
         display: block;
         margin-left: auto;
         margin-right: auto;
      }

      h2, a {
         color: #b40000;
         text-decoration: underline;
      }

      .staff-card table {
         width: 100%;
         border-collapse: collapse;
         margin-bottom: 2em;
      }
      
      .staff-card table td {
         padding: 12px;
         border-bottom: 1px solid #444;
      }
      
      .staff-card table td:first-child {
         width: 35%;
         font-weight: bold;
         color: #ccc;
      }
      
      .staff-card table td:nth-child(2) {
         font-size: 1.1em;
         color: #ddd;
      }
      
      .staff-card table tr:last-child td {
         border-bottom: none;
      }
      
      .staff-menu {
         margin-top: 2em;
         border-top: 1px solid #444;
         padding-top: 1.5em;
      }
      
      .staff-menu ul {
         list-style: none;
         padding: 0;
         margin: 0;
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 1em;
      }
      
      .staff-menu li {
         margin: 0;
      }
      
      .staff-menu a {
         display: block;
         text-decoration: none;
         color: #e0e0e0;
         padding: 1em;
         background-color: #383838;
         border-radius: 5px;
         transition: all 0.3s ease;
         text-align: center;
      }
      
      .staff-menu a:hover {
         background-color: hwb(0 0% 30%);
         color: #fff;
         transform: translateY(-2px);
      }
   </style>
   <div class="staff-card">
      <img src="{% static 'images/staff/yigit.jpg' %}" alt="Profile Picture" />
      <h2><a href="/accounts/profile/yeetzuzz/"><a href="/accounts/profile/yeetzuzz/">Yiğit Anıl Tırpancı</a></a></h2>

      <p>Band of 35 Kurucu/Müdür - Band of 35 Yönetim Kurulu - Grand RP Peygamberi - Brimstone - Mimar</p>
      <hr><br><br>

      <img src="{% static 'images/staff/ilayda.jpg' %}" alt="Profile Picture" />
      <h2><a href="/accounts/profile/ilayda/">İlayda Tombaz</a></h2>
      <p>Genshin Impact Peygamberi - Müdire - Band of 35 Yönetim Kurulu - Sage - Grand RP Peygamberi - Hemşire(palyatif)</p>
      <hr><br><br>

      <img src="{% static 'images/staff/umut.jpeg' %}" alt="Profile Picture" />
      <h2><a href="/accounts/profile/UT/">Umut Tapar</a></h2>
      <p>2023-24 Band of 35 Karar Mercii - Band of 35 Yönetim Kurulu - Terörist - Eski LoL, Valo, CS, COD, NBA, GRANDRP Peygamberliği - 
         Diyetisyen Katili(5 tane harcadı) - Trendyol Yemek CEO(ek iş) - BGY Band of Şube Sorumlusu - Tiktok Uzmanı - 
         Filozof - Part Time Kaleci - Amele - Marangoz - Emek Hırsızı - it - Kral(uyuyor) - Kainatın 2. Aptalı -  Band of Fenerbahçe Şube Müdürü/Tribün Lideri 
         - (<i><a span style="color:rgb(173, 176, 253)" href="https://www.instagram.com/rashidsanjer001/"></i>@rashidsanjer001</a>)
      </p>
      <hr><br><br>
      
      <img src="{% static 'images/staff/doğukan.jpeg' %}" alt="Profile Picture" />
      <h2><a href="/accounts/profile/Raptor/">Doğukan Taşkıran</a></h2>
      <p>Editör - Yazılım&Kodlama - Band of 35 & Mordor Arabulucu - Rocket League Peygamberliği - Osu Şehzadesi - Kontent Creator - 
         Müzisyen/Yazar (Söz&Müzik) - ARAM God</p>
      <hr><br><br>

      <img src="{% static 'images/staff/ömer.jpeg' %}" alt="Profile Picture" />
      <h2><a href="/accounts/profile/Argeleo/">Ömer Yusuf Yaman</a></h2>
      <p>Tüm ucube antik text, kurgu ve gonderiler - Sosyal Medya Sorumlusu - Band of 35 Yönetim Kurulu - 
         Kontent Creator - Müzisyen/Yazar (Söz&Müzik&Beste) - Google Translate(tr-eng)</p>
      <hr><br><br>

      <img src="{% static 'images/staff/emre.jpeg' %}" alt="Profile Picture" />
      <h2><a href="/accounts/profile/emrepkrr/">Emre Pakır</a></h2>
      <p>Türkiye A-milli Osu takımı kaptanı - Band of 35 Yönetim Kurulu - Nazi Sempatizanı - Osu Dünya #5939. (3.12.2024) - BGS#1 Kazananı(??)</p>
      <hr><br><br>

      <img src="{% static 'images/staff/tuna.jpg' %}" alt="Profile Picture" />
      <h2><a href="/accounts/profile/Melkor/">Tuna Enes Gökkaya</a></h2>
      <p>Mordor Kurucu - Rocket League Peygamberi - it - Sakin oyuncu</p>
      <hr><br><br>

      <img src="{% static 'images/staff/serife.jpg' %}" alt="Profile Picture" />
      <h2><a href="/accounts/profile/nekopaw/">Şerife Cömert (Gökkaya⌛)</a></h2>
      <p>Mordor Yönetim Kurulu - Gelin</p>
      <hr><br><br>

      <img src="{% static 'images/staff/taner.jpg' %}" alt="Profile Picture" />
      <h2><a href="/accounts/profile/Rijkebaan/">Taner Yalçın</a></h2> 
      <p>Dış İşler Müdürü - Band of 35 Hollanda Büyük Elçisi - Biçici</p>
      <hr><br><br>

      <img src="{% static 'images/staff/bartu.jpg' %}" alt="Profile Picture" />
      <h2><a href="/accounts/profile/Jaquezy/">Bartu Kaçmaz</a></h2>
      <p>League of Legends Orta Doğu Peygamberi - (<i><a span style="color:rgb(173, 176, 253)" href="https://www.youtube.com/@Aralhalpern"></i>@Aralhalpern</a>)</p>
      <hr><br><br>

      <img src="{% static 'images/staff/oguz.jpg' %}" alt="Profile Picture" />
      <h2><a href="/accounts/profile/oguz/">Oğuz Genç</a></h2>
      <p>Eski FIFA Peygamberi - Eski Marvel Rivals Peygamberi - Emekli (ölü) Rocket League Peygamberi - NBA Peygamberi - Kadim İlah Malphite - Tiktok Uzmanı - Gitarist</p>
      <hr><br><br>

      <img src="{% static 'images/staff/berkay.jpeg' %}" alt="Profile Picture" />
      <h2><a href="/accounts/profile/Xhez/">Berkay Kırtıl</a></h2>
      <p>Güncel FIFA Peygamberi - Orta Doğu ve Balkanlar Marvel Rivals Peygamberi - Band of Galatasaray Şube Müdürü/Tribün Lideri - Kameraman -
          Katil (öyyyi biçti) - Better Call Berkay - BGS#2 Kazananı(hükmen)</p>
      <hr><br><br>

      <img src="{% static 'images/staff/ghy.jpeg' %}" alt="Profile Picture" />
      <h2><a href="https://www.instagram.com/gurkanyaman.fzt/">Gürkan Harun Yaman</a></h2>
      <p>Fizyoterapist - Aşk Doktoru - 
         Kainatın Ilk Aptalı (ama son değil) </p>
      <hr><br><br>
      
      <img src="{% static 'images/staff/can.jpg' %}" alt="Profile Picture" />
      <h2><a href="/accounts/profile/weakside_survivor/">Vehbi Can Ispartalıoğlu</a></h2>
      <p>Skolyoz - Mühendis Istatistiği Akademik Eğitim Personeli (4 senedir) - Çöpçü(çöp kamyonu kodluyo)</p>
      <hr><br><br>

      <img src="{% static 'images/staff/ac.jpg' %}" alt="Profile Picture" />
      <h2><a href="/accounts/profile/mnkannem/">Arda Çalışkan</a></h2>
      <p>Okeye 4. lazım denince hemen gelen adam - Kalas Stoper</p>
      <hr><br><br>

      <img src="{% static 'images/staff/lich.jpg' %}" alt="Profile Picture" />
      <h2><a href="/accounts/profile/TheLich/">Talha Can</a></h2>
      <p>Caco - Riot Games CEO (tüm riot games oyunları s+ tier) - Bokupedia Security Team</p>
      <hr><br><br>

      <img src="{% static 'images/staff/kadir.jpg' %}" alt="Profile Picture" />
      <h2><a href="/accounts/profile/0zymandias/">Kadir Yitik</a></h2>
      <p>LoL Tanrılığı (Ailemizin tek CHALLENGER üyesi) - 23. hesabı</p>
      <hr><br><br>

      <img src="{% static 'images/staff/venco.jpeg' %}" alt="Profile Picture" />
      <h2>Furkan Doğaç (Vvenco)</a></h2>
      <p>CS Peygamberliği - Personal Trainer (<i><a span style="color:rgb(173, 176, 253)" href="https://www.instagram.com/fitcoachfurkan/"></i>@fitcoachfurkan</a>)
      </p>
      <hr><br><br>

      <img src="{% static 'images/staff/canblack.jpg' %}" alt="Profile Picture" />
      <h2><a href="/accounts/profile/CanBlack/">Can Black</a></h2>
      <p>Umut Tapar'ın Oğlu - Müdür Veliahtı/Şehzade - Grand RP Emekli Şehzadesi - Fifa Peygamberi aday aday adayı - Lise 2.5</p>
      <hr><br><br>

      <img src="{% static 'images/staff/arda.jpg' %}" alt="Profile Picture" />
      <h2><a href="/accounts/profile/Arda_Koc789/">Arda Koçyiğit</a></h2>
      <p>Grand RP Şehzadesi - LGS 2025</p>
      <hr><br><br>
   </div>
</main>
{% else %}
<main class="auth-container">
    <section class="auth">
      <h2>Akademik Kadroyu Görmek İçin Giriş Yapın!</h2>
    </section>
</main>
{% endif %}
{% endblock %}
